
  body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #373b42;
    color: #f4f4f4;
    display: flex;
    justify-content: center;
  }

  .container {
    width: 100%;
    background-color: lightslategray;
  }

/* New style for the logo image */
#logo {
  max-height: 100px; /* Ensures the logo fits well within the header height */
  width: auto;
  padding: 1rem; /* Add some spacing around the logo */
  padding-bottom: 5vh;
}
  main {
    padding: 2rem;
    background: 
linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, rgba(255, 255, 255, 0) 90%),
url('../img/2.png') center/cover no-repeat;
    text-align: center;
  }

  .signup {
    max-width: 500px;
    margin: 2rem auto;
  }

  @media (max-width: 768px) {
    header h1 {
      font-size: 1.5rem;
      padding: 0.8rem 1.5rem;
    }
    main {
      padding: 1rem;
    }
  }

  .privacy {
  padding: 2rem;
  background-color: #252525;
  text-align: left;
  padding-bottom: 8vh;
}

.privacy h2 {
  margin-bottom: 1rem;
  font-size: 1.4rem;
  color: #dcdcdc;
  border-bottom: 2px dashed #6f7a8f;
  display: inline-block;
  padding-bottom: 0.3rem;
}

.privacy p {
  line-height: 1.6;
  max-width: 800px;
  margin: 0 auto;
  font-size: 1rem;
  color: #afafaf;
  white-space: pre-line;
}

.privacy a {
    color: #bbbbbb;
}

@media (max-width: 768px) {
  .privacy {
    padding: 1.5rem;
  }
  .privacy h2 {
    font-size: 1.2rem;
  }
  .privacy p {
    font-size: 0.95rem;
  }
}
